h1{
  font-size: 30px;
  color: blue;
  margin-bottom: 100px;
}

a{
  text-decoration: none;
  color: red;
}

button{
  padding: 6px 10px;
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.button{
  display: flex;
  justify-content: center;
}

.output{
  color: red;
}